<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.richitec.chinesetelephone"
    android:versionCode="1"
    android:versionName="0.8.2" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.richitec.commontoolkit.CommonToolkitApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".account.AccountSettingActivity"
            android:label="@string/title_activity_account_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".ChineseTelephoneAppLaunchActivity"
            android:theme="@style/AppLaunchActivityTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.ChineseTelephoneTabActivity"
            android:label="@string/title_activity_chinese_telephone_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.CallRecordHistoryListTabContentActivity"
            android:label="@string/title_activity_call_record_history_list_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.CallRecordDetailInfoActivity"
            android:label="@string/title_activity_call_record_detail_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.DialTabContentActivity"
            android:label="@string/title_activity_dial_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.ContactListTabContentActivity"
            android:label="@string/title_activity_contact_list_tab_content" >
        </activity>
        <activity
            android:name=".call.OutgoingCallActivity"
            android:label="@string/title_activity_outgoing_call"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountForgetPSWActivity"
            android:label="@string/title_activity_account_forget_psw"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".account.AccountRegistActivity"
            android:label="@string/title_activity_account_regist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".assist.SettingActivity"
            android:label="@string/title_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".assist.RemainMoneyActivity"
            android:label="@string/title_activity_remain_money"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".assist.AccountChargeActivity"
            android:label="@string/title_activity_remain_money"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".autolaunch.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".assist.ContactLisInviteFriendActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>
        <activity
            android:name=".assist.InviteFriendActivity"
            android:label="@string/title_activity_invite_friend" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".account.AccountDirectRegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".assist.MySuitesActivity" android:screenOrientation="portrait"></activity>
        <service android:name="org.sipdroid.sipua.ui.RegisterService"></service>
        
        <receiver android:name="org.sipdroid.sipua.ui.OneShotAlarm" />
        <receiver android:name="org.sipdroid.sipua.ui.OneShotAlarm2" />
        <receiver android:name="org.sipdroid.sipua.ui.LoopAlarm" />
        <receiver android:name="org.sipdroid.sipua.ui.OwnWifi" />
        <receiver android:name="org.sipdroid.sipua.ui.OneShotLocation" />
        <receiver android:name="org.sipdroid.sipua.ui.LoopLocation" />
        <receiver android:name="org.sipdroid.sipua.ui.Caller" >
            <intent-filter android:priority="-1" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.sipdroid.sipua.ui.Receiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
                <data android:path="org.sipdroid.sipua" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.sipdroid.sipua.ui.PhoneStart" >
            <intent-filter>
                <action android:name="org.sipdroid.START_SIPDROID" />
                <action android:name="org.sipdroid.STOP_SIPDROID" />
            </intent-filter>
        </receiver>
        <activity android:screenOrientation="portrait" android:name=".assist.AboutActivity" android:theme="@style/AppTheme"></activity>
        <service android:name=".service.NoticeService"></service>
        <activity android:name=".assist.NoticeViewActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>
