<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richitec.chinesetelephone"
    android:versionCode="1"
    android:versionName="0.4" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="org.doubango.ngn.NgnApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".account.AccountSettingActivity"
            android:label="@string/title_activity_account_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".ChineseTelephoneAppLaunchActivity"
            android:theme="@style/AppLaunchActivityTheme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.ChineseTelephoneTabActivity"
            android:label="@string/title_activity_chinese_telephone_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.ContactListTabContentActivity"
            android:label="@string/title_activity_contact_list_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.DialTabContentActivity"
            android:label="@string/title_activity_dial_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.CallRecordHistoryListTabContentActivity"
            android:label="@string/title_activity_call_record_history_list_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.MoreTabContentActivity"
            android:label="@string/title_activity_more_tab_content" >
        </activity>
        <activity
            android:name=".call.OutgoingCallActivity"
            android:label="@string/title_activity_outgoing_call"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountForgetPSWActivity"
            android:label="@string/title_activity_account_forget_psw"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".account.AccountRegistActivity"
            android:label="@string/title_activity_account_regist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".assist.SettingActivity"
            android:label="@string/title_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".assist.RemainMoneyActivity"
            android:label="@string/title_activity_remain_money"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".assist.AccountChargeActivity"
            android:label="@string/title_activity_remain_money"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".autolaunch.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".assist.ContactLisInviteFriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".assist.InviteFriendActivity"
            android:label="@string/title_activity_invite_friend" >
        </activity>
        <service android:name="com.richitec.commontoolkit.addressbook.ContactSyncService"></service>
    </application>

</manifest>