<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richitec.chinesetelephone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ApplicationActivity"
            android:theme="@style/AppActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.ChineseTelephoneTabActivity"
            android:label="@string/title_activity_chinese_telephone_tab" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.ContactListTabContentActivity"
            android:label="@string/title_activity_contact_list_tab_content" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.DialTabContentActivity"
            android:label="@string/title_activity_dial_tab_content" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.CallRecordHistoryListTabContentActivity"
            android:label="@string/title_activity_call_record_history_list_tab_content" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.TopupTabContentActivity"
            android:label="@string/title_activity_topup_tab_content" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tab7tabcontent.SettingTabContentActivity"
            android:label="@string/title_activity_setting_tab_content" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>